
@{
    ViewData["Title"] = "Zugriffsfehler";
}

<div class="text-center">
    <h1>Kein Zugriff</h1>
    <p>Ihre berechtigungen reichen nicht für diese Seite aus</p>
    <a class="btn btn-secondary" asp-area="" asp-action="index" asp-controller="Home">zurück zum Dashboard</a>

</div>
